{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Cdchanger wizard: disks and tracks{% endblock %}

{% block styles %}
    <link href="{% static 'css/formset.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	{{ wizard.form.media }}

	<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
	<h3 class="step_title">Disks</h3>
	<hr>

	{% include 'cdchanger/inc/messages.html' %}

	<form action="" method="post" class="col-md-4">

		{% csrf_token %}

			{{ wizard.management_form }}
			{% crispy form %}

	</form>
{% endblock %}
